<!doctype html>
<html lang="en">

<style>
a:link {
	color:green;
	background: transparent;
	text-decoration: none;
}

a:visited {
	color: pink;
	background: transparent;
	text-decoration: none;
}

a:hover {
	color: red;
	background: transparent;
	text-decoration: none;
}

a:active {
	color: yellow;
	background: transparent;
	text-decoration: none;
}
</style>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raúl Méndez</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="static/main.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo="> 
    <script src="https://kit.fontawesome.com/3b002421b5.js"></script>
</head>
<body>
<div class="splash-container">
    <div class="splash">
        <b>
        	Raúl Fernando Méndez Turrubiates.
        </b>
        <p style="font-size:20px"><a href="mailto:raul.mturrubiates@gmail.com">raul.mturrubiates@gmail.com</a></p>
        <p style="font-size:20px">M.Sc. Physical Oceanography<br> B.Sc. Atmospheric Science</p>
    </div>
</div>

<div class="content-wrapper">

    <div class="content">
        <div class="pure-g">
            <div class="pure-u-1-4">
                    <a href="https://github.com/mendezr" class="icon-link">
                        <i class="fab fa-github" style="color:#8fbcbb; font-size: 36px"></i>
                        <!-- <i class="fab fa-github" style="color:rgb(87, 192, 96); font-size: 36px"></i> -->
                    </a>
            </div>
            <div class="pure-u-1-4">
                    <a href="https://gitlab.com/mendezr" class="icon-link">
                        <!-- <i class="fab fa-gitlab" style="color:rgb(50,89,143); font-size: 36px"></i> -->
                        <i class="fab fa-gitlab" style="color:#8fbcbb; font-size: 36px"></i>
                    </a>
            </div>
            <div class="pure-u-1-4">
                    <a href="https://www.linkedin.com/in/mendezr-5181951aa" class="icon-link">
                        <i class="fab fa-linkedin" style="color:#8fbcbb; font-size: 36px"></i>
                    </a>
            </div>
            <div class="pure-u-1-4">
                    <a href="static/cv.pdf" class="icon-link">
                        <i class="fa fa-address-card-o" style="color:#8fbcbb; font-size: 36px"></i>
                    </a>
            </div>

    </div>
</div>
</body>
</html>
